@import '../styles/palette.scss';

h3 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
    font-size: 1.4rem;
}

hr {
    width: 100%;
    background-color: $purple;
    margin-bottom: 1rem;
}

.pi {
    margin-top: .5rem;

    .edu {
        > div {
            font-family: "exo2";
            font-weight: 300;
            margin: .25rem .5rem;
        }
    }
}

.image-right .image-text {
    margin-right: 2rem;
    p {
        margin-block-start: .25rem;
        margin-block-end: .25rem;
        text-align: right;
    }
}

.pi-image {
    margin-top: 8rem;
}

.diu-desc p {
    font-size: 0.9rem;
}

.people-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
