@import '../styles/palette.scss';

h3 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
    font-size: 1.4rem;
}

hr {
    width: 100%;
    background-color: $purple;
    margin-bottom: 1rem;
}

.pi {
    margin-top: .5rem;

    .edu {
        > div {
            font-family: "exo2";
            font-weight: 300;
            margin: .25rem .5rem;
        }
    }
}

.pi-image {
    margin-top: 8rem;
}

.member-desc p {
    font-size: 0.9rem;
}

.people-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;

    h3 {
        background-color: $headerBlue;
    }
    
    h4 {
        color: gray;
        margin: .5rem 0 0;
    }

    .people-image {
        max-width: 16rem;
        border-radius: 50%;
    }
}

.grid-bg {
    background-color: #f8f7f4;
}
